
:root {
    --text: #1f1f1f;
    --text-accent: #82b2a2;
    --footer-text: #999999;
    --button-text: #4a4a4a;
    --logo-text: #c51103;

    --menu-burger: #626262;
    --stroke: #c0e4e4;

    --block: #f2f6f6;
    --background: #ffffff;
}

/* Global style - start*/

*, *:before, *:after {
    box-sizing: border-box
}

html,
body {
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-size: 12px; /*12px*/
    line-height: 18px; /*18px*/
    font-weight: 400;
    color: var(--text);

    background-color: var(--background);
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 4px 10px;

    width: 197px; /*197px*/

    font-size: 16px; /*16px*/
    line-height: 24px; /*24px*/
    text-align: center;
    vertical-align: middle;
    color: var(--button-text);

    background: var(--background);
    border: 2px solid var(--text-accent);

    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    width: auto;
}

@media (min-width: 420px) {
    .container {
        width: 420px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}

/* Global style - end */

/* header - start */

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 24px; /*24px*/
    padding-bottom: 24px; /*24px*/
}

@media (min-width: 1600px) {
    .navigation {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

.navigation__logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    position: relative;
    padding: 5px 10px 5px 0;

    width: 100px; /*100px*/

    font-size: 18px; /*18px*/
    line-height: 27px; /*27px or 150%*/
    text-align: right;
    vertical-align: middle;
    color: var(--footer-text);

    border: none;
}

.menu::before {
    content: "";

    position: absolute;
    left: -10px; /*-10px*/

    width: 37px; /*37px*/
    height: 30px; /*30px*/

    background-image: url("../src/img/icon/menu.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-list,
.nav__tel,
.navigation__user {
    display: none;
}

@media (min-width: 1600px) {
    .menu-list,
    .nav__tel,
    .navigation__user {
        list-style: none;
        display: block;
    }

    .menu-list {
        display: none;

        list-style: none;
    }

    .nav__tel {
        display: flex;
        flex-direction: column;
        align-self: end;
        padding: 0;
        margin: 0;

        width: 310px;

        font-size: 16px; /*16px*/
        line-height: 21px; /*130 %or 21px */
        color: var(--footer-text);
    }

    .nav__num {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 22px; /* 22px */
        line-height: 29px; /* 130% or 29px */
        color: var(--text-accent);
    }
}

/* header - end */

/* main - start */

/* slider - start */
.slider__title {
    margin: 0;

    width: 292px; /*292px*/
}

@media (min-width: 1600px) {
    .slider__title {
        width: 768px;

    }
}


.slider__text {
    margin: 0;
}

.slider,
.slider__title,
.slider__text,
.slider__tel {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px; /*22px*/
    line-height: 29px; /*130% or 29px*/
}

@media (min-width: 1600px) {
    .slider,
    .slider__title,
    .slider__text,
    .slider__tel {
        font-size: 55px;
        line-height: 71px;
    }

    .slider {
        padding-top: 15px;
        padding-bottom: 140px;

        background-image: url("../src/img/phone_1.jpg");
        background-position: 97% 116%;
        background-repeat: no-repeat;
    }
}


.slider__tel {
    color: var(--text-accent);
}

.slider__text--post {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px; /*14px */
    line-height: 21px; /* 150% or 21px */
}

@media (min-width: 1600px) {
    .slider__text--post {
        display: none;
    }
}


/* slider - end */

/* services - start */
.services,
.services__wrapper {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1600px) {
    .services {
        flex-direction: row;
        justify-content: space-between;
    }

    .services__wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

}

.services__block {
    margin-top: 15px; /* 15px */
    padding-bottom: 15px; /* 15px */

    background: var(--block);
}

@media (min-width: 1600px) {
    .services__block {
        flex: 1 1 47%;
        margin-left: 25px;
        margin-top: 25px;
    }

    .services__block--first {
        margin-left: 0;
    }

    .services__block--last {
        order: 1;
        flex: 2 1 100%;
    }
}

.services__title {
    padding-top: 10px; /* 10px */
    padding-left: 20px; /* 20px */

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px; /* 16px */
    line-height: 20px; /* 130% or 20px */
}

@media (min-width: 1600px) {
    .services__title {
        padding-top: 14px; /* 10px */
        padding-left: 43px; /* 20px */

        font-size: 24px;
        line-height: 130%; /* or 31px */
    }
}

.services__list {
    padding: 0 45px 0 32px; /* 20px */

    font-family: 'Inter', sans-serif;
    font-size: 12px; /* 12px */
    line-height: 18px; /* 150% or 18px */

    list-style: none;
}

@media (min-width: 1600px) {
    .services__list {
        font-size: 18px;
        line-height: 150%; /* or 27px */

    }
}

.services__item {
    position: relative;
    padding-bottom: 24px; /* 15px */
}

@media (min-width: 1600px) {
    .services__item {
        padding-bottom: 26px; /* 15px */

    }
}

/*.services__item::before {
    content: "-";

    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 18px;
}*/

/* services - end */

/* statistics - start */
.statistics {
    margin-top: 45px; /* 45px */
}

@media (min-width: 1600px) {
    .statistics {
        margin-top: 70px;
    }
}

.statistics__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    list-style: none;
}

@media (min-width: 1600px) {
    .statistics__list {
        margin: 0 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.statistics__item {
    display: flex;
    align-items: center;
    padding-bottom: 15px; /* 15px */

    width: 240px; /* 240px */

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 47px; /* 47px */
    line-height: 61px; /* 130% or 61px */
    color: var(--text-accent);
}

.statistics__text {
    padding-left: 15px; /* 15px */

    font-weight: 700;
    font-size: 15px; /* 15px */
    line-height: 23px; /* 150% or 23px */
    color: var(--text);
}

@media (min-width: 1600px) {
    .statistics__item {
        font-size: 55px;
        line-height: 71px;
        width: 325px;
    }

    .statistics__text {
        font-size: 18px;
        line-height: 27px;
    }

}

/* statistics - end */

/* map - start */
.map {
    display: none;
}

@media (min-width: 1600px) {
    .map {
        display: block;
        margin-top: 40px;
        padding-bottom: 60px;

        border-top: 1px solid var(--stroke);
        border-bottom: 1px solid var(--stroke);
    }

    .map__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .map__title {
        margin-top: 50px;

        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%; /* identical to box height, or 47px */
    }

    .map__text {
        padding-top: 30px;

        width: 405px;

        font-size: 18px;
        line-height: 140%;
        color: var(--footer-text);
    }
}


/* map - end */

/* main - end */

/* footer - start */
.footer {
    display: none;
}

@media (min-width: 1600px) {
    .footer {
        display: block;
        width: 100%;
        padding-bottom:50px;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;

        padding-top: 40px;

        color: var(--footer-text);
    }

    .footer__logo { /* a */
        display: flex;
        color: var(--text);
    }

    .footer__logo--img { /* img */
        width: 95px;
    }

    .footer__logo__text { /* p */
        width: 305px;
        margin-left: 15px;

        font-family: 'Open Sans', sans-serif;
        align-self: center;
        font-size: 18px;
        line-height: 140%; /* or 25px */
    }

    .footer__copyright,
    .footer__mail{
        padding-top: 29px;
    }
    .footer__mail__link{
        color: var(--footer-text);
    }

    .footer__mail,
    .footer__copyright {
        position: relative;
    }

    .footer__mail::before,
    .footer__copyright::before {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        width: 40px;
        height: 40px;

        background-image: url("../src/img/icon/mail.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    .footer__mail::before {
        background-image: url("../src/img/icon/mail.svg");
    }
    .footer__copyright::before{
        background-image: url("../src/img/icon/dev.svg");
    }
}

/* footer - end */
